(
Hamza,
"alef-ar",
"alef-ar.isol",
"alef-ar.isol.LA",
"alef-ar.fina",
"alef-ar.fina.narrow",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
AlefWavyHamzaAbove,
AlefWavyHamzaBelow,
"alefMadda-ar",
AlefWasla,
"behDotless-ar",
"behDotless-ar.isol",
"behDotless-ar.fina",
"behDotless-ar.fina.soft",
"behDotless-ar.medi",
"behDotless-ar.medi.inS1outS1",
"behDotless-ar.medi.inT1",
"behDotless-ar.medi.inT1outD1",
"behDotless-ar.medi.inT1outD11",
"behDotless-ar.medi.inT1outD2WQ",
"behDotless-ar.medi.inT1outS1",
"behDotless-ar.medi.inT1outT1",
"behDotless-ar.medi.inT1outT2",
"behDotless-ar.medi.inT1outT2N",
"behDotless-ar.medi.inT1outT2Nwide",
"behDotless-ar.medi.inT1outT2SeenWide",
"behDotless-ar.medi.inT1outT2seen-ar",
"behDotless-ar.medi.inT1outT2wide",
"behDotless-ar.medi.inT1outT3",
"behDotless-ar.medi.inT2",
"behDotless-ar.medi.inT2outD1",
"behDotless-ar.medi.inT2outD11",
"behDotless-ar.medi.inT2outD11wide",
"behDotless-ar.medi.inT2outD2D",
"behDotless-ar.medi.inT2outD2H",
"behDotless-ar.medi.inT2outD2HF",
"behDotless-ar.medi.inT2outD2HS",
"behDotless-ar.medi.inT2outD2Hwide",
"behDotless-ar.medi.inT2outD2M",
"behDotless-ar.medi.inT2outD2MM",
"behDotless-ar.medi.inT2outD2WQ",
"behDotless-ar.medi.inT2outD2Y",
"behDotless-ar.medi.inT2outD2YB",
"behDotless-ar.medi.inT2outD5",
"behDotless-ar.medi.inT2outS1",
"behDotless-ar.medi.inT2outT1",
"behDotless-ar.medi.inT2outT1wide",
"behDotless-ar.medi.inT2outT2",
"behDotless-ar.medi.inT2outT2K",
"behDotless-ar.medi.inT2outT3",
"behDotless-ar.medi.inT2outT3W",
"behDotless-ar.init",
"behDotless-ar.init.alef",
"behDotless-ar.init.outD1",
"behDotless-ar.init.outD11",
"behDotless-ar.init.outD2D",
"behDotless-ar.init.outD2H",
"behDotless-ar.init.outD2M",
"behDotless-ar.init.outD2MM",
"behDotless-ar.init.outD2WQ",
"behDotless-ar.init.outD2Y",
"behDotless-ar.init.outD2YB",
"behDotless-ar.init.outD4",
"behDotless-ar.init.outD5",
"behDotless-ar.init.outS1",
"behDotless-ar.init.outT2",
"behDotless-ar.init.outT2B",
"behDotless-ar.init.outT2K",
"behDotless-ar.init.outT2N",
"behDotless-ar.init.outT2tall",
"behDotless-ar.init.outT3",
"behDotless-ar.init.outT3En",
"behDotless-ar.init.outT3F",
"beh-ar",
"peh-ar",
uni08BE,
uni067B,
uni0680,
Teh,
uni067C,
uni067D,
"theh-ar",
TehTahAbove,
uni067A,
uni067F,
uni0750,
uni0751,
uni0752,
uni0753,
uni0754,
uni0755,
uni0756,
uni08A0,
uni08C0,
uni08A1,
uni08C5,
uni08C6,
"jeem-ar",
Tcheh,
uni08C1,
uni0687,
uni06BF,
uni0683,
uni0684,
"hah-ar",
"hah-ar.isol",
"hah-ar.fina",
"hah-ar.medi",
"hah-ar.medi.inD2",
"hah-ar.medi.inD2outD1",
"hah-ar.medi.inD2outD11",
"hah-ar.medi.inD2outD2",
"hah-ar.medi.inD2outD2D",
"hah-ar.medi.inD2outD2H",
"hah-ar.medi.inD2outD2Hwide",
"hah-ar.medi.inD2outD2MM",
"hah-ar.medi.inD2outD2Y",
"hah-ar.medi.inD2outD2YB",
"hah-ar.medi.inD2outD3",
"hah-ar.medi.inD2outD5",
"hah-ar.medi.inD2outS1",
"hah-ar.medi.inD2outT1",
"hah-ar.medi.inD2outT2",
"hah-ar.medi.inD2outT3",
"hah-ar.init",
"hah-ar.init.outD1",
"hah-ar.init.outD11",
"hah-ar.init.outD2",
"hah-ar.init.outD2D",
"hah-ar.init.outD2H",
"hah-ar.init.outD2Hwide",
"hah-ar.init.outD2MM",
"hah-ar.init.outD2Y",
"hah-ar.init.outD2YB",
"hah-ar.init.outD3",
"hah-ar.init.outD5",
"hah-ar.init.outS1",
"hah-ar.init.outT2",
"hah-ar.init.outT3",
"hah-ar.init.outT3short",
uni0681,
uni0682,
uni0757,
uni0685,
uni0758,
Xah,
uni076E,
uni076F,
uni077C,
uni08A2,
"dal-ar",
"dal-ar.isol",
"dal-ar.fina",
Dhal,
DalTahAbove,
uni068C,
uni068D,
uni0689,
uni068A,
uni068B,
uni068E,
uni068F,
uni0690,
uni06EE,
uni0759,
uni075A,
uni08AE,
"reh-ar",
"reh-ar.isol",
"reh-ar.fina",
"reh-ar.fina.inD3",
"reh-ar.fina.inD3MM",
"reh-ar.fina.inD4",
"reh-ar.fina.inD4B",
"reh-ar.fina.postheh-ar",
Zain,
uni08B2,
uni08B3,
uni08B4,
RehTahAbove,
uni0692,
uni0693,
uni0694,
uni0695,
uni0696,
uni0697,
Zheh,
uni0699,
uni06EF,
uni075B,
uni076B,
uni076C,
uni0771,
uni08AA,
"rehLoop-ar.isol",
"rehLoop-ar.fina",
"rehLoop-ar.fina.inD3",
"rehLoop-ar.fina.inD3MM",
"rehLoop-ar.fina.inD4",
"rehLoop-ar.fina.inD4B",
"rehLoop-ar.fina.postheh-ar",
"seen-ar",
"seen-ar.isol",
"seen-ar.fina",
"seen-ar.fina.2",
"seen-ar.medi",
"seen-ar.medi.SWinAoutT2",
"seen-ar.medi.SWinBoutT2",
"seen-ar.medi.SWinCoutT2",
"seen-ar.medi.SWinDoutT2",
"seen-ar.medi.SWinFFoutT2",
"seen-ar.medi.SWinFoutT2",
"seen-ar.medi.SWinGoutT2",
"seen-ar.medi.inT2",
"seen-ar.medi.inT2outD1",
"seen-ar.medi.inT2outD11",
"seen-ar.medi.inT2outD2D",
"seen-ar.medi.inT2outD2H",
"seen-ar.medi.inT2outD2M",
"seen-ar.medi.inT2outD2MM",
"seen-ar.medi.inT2outD2Y",
"seen-ar.medi.inT2outD2YB",
"seen-ar.medi.inT2outD5",
"seen-ar.medi.inT2outS1",
"seen-ar.medi.inT2outT1",
"seen-ar.medi.inT2outT2",
"seen-ar.medi.inT2outT2short",
"seen-ar.medi.inT2outT3",
"seen-ar.medi.r",
"seen-ar.init",
"seen-ar.init.SWoutT2",
"seen-ar.init.outD1",
"seen-ar.init.outD11",
"seen-ar.init.outD2D",
"seen-ar.init.outD2H",
"seen-ar.init.outD2M",
"seen-ar.init.outD2MM",
"seen-ar.init.outD2Y",
"seen-ar.init.outD2YB",
"seen-ar.init.outD5",
"seen-ar.init.outS1",
"seen-ar.init.outT2",
"seen-ar.init.outT2short",
"seen-ar.init.outT3",
"seen-ar.init.r",
uni069A,
uni069B,
Sheen,
uni069C,
"sad-ar",
"sad-ar.isol",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.medi.inD1",
"sad-ar.medi.inD1outD1",
"sad-ar.medi.inD1outD11",
"sad-ar.medi.inD1outD2D",
"sad-ar.medi.inD1outD2H",
"sad-ar.medi.inD1outD2M",
"sad-ar.medi.inD1outD2MM",
"sad-ar.medi.inD1outD2Y",
"sad-ar.medi.inD1outD2YB",
"sad-ar.medi.inD1outD5",
"sad-ar.medi.inD1outS1",
"sad-ar.medi.inD1outT1",
"sad-ar.medi.inD1outT2",
"sad-ar.medi.inD1outT3",
"sad-ar.medi.r",
"sad-ar.init",
"sad-ar.init.outD1",
"sad-ar.init.outD11",
"sad-ar.init.outD2D",
"sad-ar.init.outD2H",
"sad-ar.init.outD2M",
"sad-ar.init.outD2MM",
"sad-ar.init.outD2Y",
"sad-ar.init.outD2YB",
"sad-ar.init.outD5",
"sad-ar.init.outS1",
"sad-ar.init.outT2",
"sad-ar.init.outT3",
"sad-ar.init.r",
uni069D,
uni069E,
uni08AF,
Dad,
"tah-ar",
"tah-ar.isol",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.medi.HRlow",
"tah-ar.medi.inD1",
"tah-ar.medi.inD1outD1",
"tah-ar.medi.inD1outD11",
"tah-ar.medi.inD1outD2",
"tah-ar.medi.inD1outD2D",
"tah-ar.medi.inD1outD2H",
"tah-ar.medi.inD1outD2M",
"tah-ar.medi.inD1outD2MM",
"tah-ar.medi.inD1outD2YB",
"tah-ar.medi.inD1outD3",
"tah-ar.medi.inD1outD5",
"tah-ar.medi.inD1outS1",
"tah-ar.medi.inD1outT1",
"tah-ar.medi.inD1outT2",
"tah-ar.medi.inD1outT3",
"tah-ar.medi.low",
"tah-ar.medi.outD11",
"tah-ar.init",
"tah-ar.init.HRlow",
"tah-ar.init.low",
"tah-ar.init.outD1",
"tah-ar.init.outD11",
"tah-ar.init.outD2",
"tah-ar.init.outD2D",
"tah-ar.init.outD2H",
"tah-ar.init.outD2M",
"tah-ar.init.outD2MM",
"tah-ar.init.outD2YB",
"tah-ar.init.outD3",
"tah-ar.init.outD5",
"tah-ar.init.outT2",
"tah-ar.init.outT3",
uni069F,
Zah,
uni08A3,
"ain-ar",
"ain-ar.isol",
"ain-ar.fina",
"ain-ar.fina.2",
"ain-ar.medi",
"ain-ar.medi.inT3",
"ain-ar.medi.inT3outD1",
"ain-ar.medi.inT3outD11",
"ain-ar.medi.inT3outD2",
"ain-ar.medi.inT3outD2D",
"ain-ar.medi.inT3outD2H",
"ain-ar.medi.inT3outD2Hwide",
"ain-ar.medi.inT3outD2MM",
"ain-ar.medi.inT3outD2Y",
"ain-ar.medi.inT3outD2YB",
"ain-ar.medi.inT3outD3",
"ain-ar.medi.inT3outD5",
"ain-ar.medi.inT3outS1",
"ain-ar.medi.inT3outT1",
"ain-ar.medi.inT3outT2",
"ain-ar.medi.inT3outT3",
"ain-ar.init",
"ain-ar.init.outD1",
"ain-ar.init.outD11",
"ain-ar.init.outD2",
"ain-ar.init.outD2D",
"ain-ar.init.outD2H",
"ain-ar.init.outD2Hwide",
"ain-ar.init.outD2MM",
"ain-ar.init.outD2YB",
"ain-ar.init.outD2long",
"ain-ar.init.outD3",
"ain-ar.init.outD5",
"ain-ar.init.outS1",
"ain-ar.init.outT2",
"ain-ar.init.outT3",
"ain-ar.init.outT3WQ",
"ain-ar.init.tall",
uni06A0,
Ghain,
uni08C3,
Feh,
Veh,
"fehDotless-ar",
"fehDotless-ar.isol",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.medi.inT3",
"fehDotless-ar.medi.inT3outD1",
"fehDotless-ar.medi.inT3outD11",
"fehDotless-ar.medi.inT3outD2",
"fehDotless-ar.medi.inT3outD2D",
"fehDotless-ar.medi.inT3outD2H",
"fehDotless-ar.medi.inT3outD2Hwide",
"fehDotless-ar.medi.inT3outD2MM",
"fehDotless-ar.medi.inT3outD2Y",
"fehDotless-ar.medi.inT3outD2YB",
"fehDotless-ar.medi.inT3outD3",
"fehDotless-ar.medi.inT3outD5",
"fehDotless-ar.medi.inT3outS1",
"fehDotless-ar.medi.inT3outT1",
"fehDotless-ar.medi.inT3outT2",
"fehDotless-ar.medi.inT3outT3",
"fehDotless-ar.init",
"fehDotless-ar.init.outD1",
"fehDotless-ar.init.outD2",
"fehDotless-ar.init.outD2D",
"fehDotless-ar.init.outD2H",
"fehDotless-ar.init.outD2Hwide",
"fehDotless-ar.init.outD2MM",
"fehDotless-ar.init.outD2WQ",
"fehDotless-ar.init.outD2Y",
"fehDotless-ar.init.outD2YB",
"fehDotless-ar.init.outD4",
"fehDotless-ar.init.outD5",
"fehDotless-ar.init.outS1",
"fehDotless-ar.init.outT2",
"fehDotless-ar.init.outT2N",
"fehDotless-ar.init.outT3",
uni06A3,
uni06A5,
uni08A4,
uni06A6,
uni08BB,
"qafDotless-ar",
"qafDotless-ar.isol",
"qafDotless-ar.fina",
"qafDotless-ar.fina.cut",
"qafDotless-ar.fina.inD2",
"qafDotless-ar.fina.inD2alt",
Qaf,
uni06A7,
uni06A8,
uni08A5,
uni08BC,
uni08C4,
"kaf-ar",
"kaf-ar.isol",
"kaf-ar.fina",
"kaf-ar.fina.HR",
"kaf-ar.fina.V",
"kaf-ar.medi",
"kaf-ar.medi.HR",
"kaf-ar.medi.HRk",
"kaf-ar.medi.HRlow",
"kaf-ar.medi.HRoutD1",
"kaf-ar.medi.HRoutD2HYB",
"kaf-ar.medi.HRoutD2MD",
"kaf-ar.medi.HRoutD2MM",
"kaf-ar.medi.HRoutD2WQ",
"kaf-ar.medi.HRoutD5",
"kaf-ar.medi.HRoutT2",
"kaf-ar.medi.HRoutT3",
"kaf-ar.medi.NoutD1",
"kaf-ar.medi.NoutD11",
"kaf-ar.medi.NoutD2HYB",
"kaf-ar.medi.NoutD2MD",
"kaf-ar.medi.NoutD2MM",
"kaf-ar.medi.NoutT2",
"kaf-ar.medi.NoutT3",
"kaf-ar.medi.V",
"kaf-ar.medi.Vlow",
"kaf-ar.medi.VoutD1",
"kaf-ar.medi.VoutD11",
"kaf-ar.medi.VoutD2HYB",
"kaf-ar.medi.VoutD2MD",
"kaf-ar.medi.VoutD2MM",
"kaf-ar.medi.VoutD2WQ",
"kaf-ar.medi.VoutD2Y",
"kaf-ar.medi.VoutD4",
"kaf-ar.medi.VoutD5",
"kaf-ar.medi.VoutS1",
"kaf-ar.medi.VoutT2",
"kaf-ar.medi.VoutT3",
"kaf-ar.medi.k",
"kaf-ar.medi.low",
"kaf-ar.medi.outD1",
"kaf-ar.medi.outD11",
"kaf-ar.medi.outD2H",
"kaf-ar.medi.outD2HYB",
"kaf-ar.medi.outD2MD",
"kaf-ar.medi.outD2MM",
"kaf-ar.medi.outD2WQ",
"kaf-ar.medi.outD2Y",
"kaf-ar.medi.outD4",
"kaf-ar.medi.outD5",
"kaf-ar.medi.outS1",
"kaf-ar.medi.outT2",
"kaf-ar.medi.outT3",
"kaf-ar.init",
"kaf-ar.init.HRk",
"kaf-ar.init.HRlow",
"kaf-ar.init.HRoutD1",
"kaf-ar.init.HRoutD2",
"kaf-ar.init.HRoutD2H",
"kaf-ar.init.HRoutD5",
"kaf-ar.init.HRoutT2",
"kaf-ar.init.HRoutT2N",
"kaf-ar.init.HRoutT3",
"kaf-ar.init.N",
"kaf-ar.init.NoutD1",
"kaf-ar.init.NoutD11",
"kaf-ar.init.NoutD2",
"kaf-ar.init.NoutD2H",
"kaf-ar.init.NoutD2MM",
"kaf-ar.init.NoutT2",
"kaf-ar.init.NoutT3",
"kaf-ar.init.k",
"kaf-ar.init.outD1",
"kaf-ar.init.outD11",
"kaf-ar.init.outD2",
"kaf-ar.init.outD2D",
"kaf-ar.init.outD2H",
"kaf-ar.init.outD2MM",
"kaf-ar.init.outD2Y",
"kaf-ar.init.outD2YB",
"kaf-ar.init.outD5",
"kaf-ar.init.outS1",
"kaf-ar.init.outT2",
"kaf-ar.init.outT2N",
"kaf-ar.init.outT3",
"kafFarsi-ar",
uni063B,
uni063C,
uni0762,
uni0763,
uni0764,
uni08C2,
"gaf-ar",
uni06B0,
uni06B4,
uni06AB,
uni06AC,
uni06AE,
uni06B2,
uni08B0,
uni06AD,
uni06B1,
uni06B3,
"lam-ar",
"lam-ar.isol",
"lam-ar.isol.LA",
"lam-ar.fina",
"lam-ar.fina.LA",
"lam-ar.medi",
"lam-ar.medi.HRlow",
"lam-ar.medi.low",
"lam-ar.medi.lowKN",
"lam-ar.medi.outD1",
"lam-ar.medi.outD11",
"lam-ar.medi.outD2H",
"lam-ar.medi.outD2HYB",
"lam-ar.medi.outD2MD",
"lam-ar.medi.outD2MM",
"lam-ar.medi.outD2WQ",
"lam-ar.medi.outD2Y",
"lam-ar.medi.outD4",
"lam-ar.medi.outD5",
"lam-ar.medi.outS1",
"lam-ar.medi.outT2",
"lam-ar.medi.outT3",
"lam-ar.init",
"lam-ar.init.HRlow",
"lam-ar.init.low",
"lam-ar.init.lowKN",
"lam-ar.init.outD1",
"lam-ar.init.outD11",
"lam-ar.init.outD2",
"lam-ar.init.outD2D",
"lam-ar.init.outD2H",
"lam-ar.init.outD2MM",
"lam-ar.init.outD2Y",
"lam-ar.init.outD2YB",
"lam-ar.init.outD5",
"lam-ar.init.outS1",
"lam-ar.init.outT2",
"lam-ar.init.outT2N",
"lam-ar.init.outT3",
uni06B5,
uni06B6,
uni06B7,
uni06B8,
uni08A6,
uni08C7,
"meem-ar",
"meem-ar.isol",
"meem-ar.fina",
"meem-ar.medi",
"meem-ar.medi.inD2",
"meem-ar.medi.inD2outD1",
"meem-ar.medi.inD2outD11",
"meem-ar.medi.inD2outD2",
"meem-ar.medi.inD2outD2D",
"meem-ar.medi.inD2outD2H",
"meem-ar.medi.inD2outD2MM",
"meem-ar.medi.inD2outD2Y",
"meem-ar.medi.inD2outD2YB",
"meem-ar.medi.inD2outD3",
"meem-ar.medi.inD2outD5",
"meem-ar.medi.inD2outS1",
"meem-ar.medi.inD2outT1",
"meem-ar.medi.inD2outT2",
"meem-ar.medi.inD2outT3",
"meem-ar.init",
"meem-ar.init.outD1",
"meem-ar.init.outD11",
"meem-ar.init.outD2",
"meem-ar.init.outD2D",
"meem-ar.init.outD2H",
"meem-ar.init.outD2MM",
"meem-ar.init.outD2Y",
"meem-ar.init.outD2YB",
"meem-ar.init.outD5",
"meem-ar.init.outS1",
"meem-ar.init.outT2",
"meem-ar.init.outT2B",
"meem-ar.init.outT3",
"meem-ar.init.r",
uni08A7,
Noon,
uni06B9,
NoonGhunna,
"noonghunna-ar.isol",
"noonghunna-ar.fina",
uni06BB,
uni06BC,
uni06BD,
uni08BD,
"hehgoal-ar",
"heh-ar.init",
"heh-ar.init.outD1",
"heh-ar.init.outD11",
"heh-ar.init.outD2",
"heh-ar.init.outD2D",
"heh-ar.init.outD2H",
"heh-ar.init.outD2Hwide",
"heh-ar.init.outD2MM",
"heh-ar.init.outD2Y",
"heh-ar.init.outD2YB",
"heh-ar.init.outD3",
"heh-ar.init.outD5",
"heh-ar.init.outS1",
"heh-ar.init.outT2",
"heh-ar.init.outT3",
"hehHamzaabove-ar",
"heh-ar.Urdu",
"hehgoal-ar.isol",
"hehgoal-ar.fina",
"hehgoal-ar.fina.wide",
"hehgoal-ar.medi",
"hehgoal-ar.medi.inD5",
"hehgoal-ar.medi.inD5outD1",
"hehgoal-ar.medi.inD5outD11",
"hehgoal-ar.medi.inD5outD2",
"hehgoal-ar.medi.inD5outD2D",
"hehgoal-ar.medi.inD5outD2H",
"hehgoal-ar.medi.inD5outD2MM",
"hehgoal-ar.medi.inD5outD2Y",
"hehgoal-ar.medi.inD5outD2YB",
"hehgoal-ar.medi.inD5outD3R",
"hehgoal-ar.medi.inD5outD5",
"hehgoal-ar.medi.inD5outS1",
"hehgoal-ar.medi.inD5outT1",
"hehgoal-ar.medi.inD5outT2",
"hehgoal-ar.medi.inD5outT3",
"hehgoal-ar.init",
"hehgoal-ar.init.outD1",
"hehgoal-ar.init.outD11",
"hehgoal-ar.init.outD2D",
"hehgoal-ar.init.outD2H",
"hehgoal-ar.init.outD2M",
"hehgoal-ar.init.outD2MM",
"hehgoal-ar.init.outD2Y",
"hehgoal-ar.init.outD2YB",
"hehgoal-ar.init.outD5",
"hehgoal-ar.init.outS1",
"hehgoal-ar.init.outT2",
"hehgoal-ar.init.outT3",
"hehgoal-ar.init.outT3En",
"hehgoal-ar.init.r",
"hehgoalHamzaabove-ar",
"hehDoachashmee-ar",
"hehDoachashmee-ar.isol",
"hehDoachashmee-ar.fina",
"hehDoachashmee-ar.medi",
"hehDoachashmee-ar.medi.inD2",
"hehDoachashmee-ar.medi.inD2outD1",
"hehDoachashmee-ar.medi.inD2outD11",
"hehDoachashmee-ar.medi.inD2outD2",
"hehDoachashmee-ar.medi.inD2outD2D",
"hehDoachashmee-ar.medi.inD2outD2H",
"hehDoachashmee-ar.medi.inD2outD2Hwide",
"hehDoachashmee-ar.medi.inD2outD2MM",
"hehDoachashmee-ar.medi.inD2outD2Y",
"hehDoachashmee-ar.medi.inD2outD2YB",
"hehDoachashmee-ar.medi.inD2outD3",
"hehDoachashmee-ar.medi.inD2outD5",
"hehDoachashmee-ar.medi.inD2outS1",
"hehDoachashmee-ar.medi.inD2outT1",
"hehDoachashmee-ar.medi.inD2outT2",
"hehDoachashmee-ar.medi.inD2outT2wide",
"hehDoachashmee-ar.medi.inD2outT3",
"hehDoachashmee-ar.init",
"hehDoachashmee-ar.init.outD1",
"hehDoachashmee-ar.init.outD11",
"hehDoachashmee-ar.init.outD2",
"hehDoachashmee-ar.init.outD2D",
"hehDoachashmee-ar.init.outD2H",
"hehDoachashmee-ar.init.outD2Hwide",
"hehDoachashmee-ar.init.outD2MM",
"hehDoachashmee-ar.init.outD2Y",
"hehDoachashmee-ar.init.outD2YB",
"hehDoachashmee-ar.init.outD3",
"hehDoachashmee-ar.init.outD5",
"hehDoachashmee-ar.init.outS1",
"hehDoachashmee-ar.init.outT2",
"hehDoachashmee-ar.init.outT2wide",
"hehDoachashmee-ar.init.outT3",
uni06FF,
TehMarbuta,
TehMarbutaUrdu,
uni08BF,
"waw-ar",
"waw-ar.isol",
"waw-ar.fina",
"waw-ar.fina.cut",
"waw-ar.fina.inD2",
"waw-ar.fina.inD2alt",
uni06C4,
uni06CA,
uni06CF,
"wawHamzaabove-ar",
uni0778,
uni0779,
uni08AB,
uni08B1,
"wawStraight-ar.isol",
"wawStraight-ar.fina",
"wawStraight-ar.fina.cut",
"wawStraight-ar.fina.inD2",
"wawStraight-ar.fina.inD2alt",
uni06C5,
uni06C6,
uni06C7,
uni06C8,
uni06C9,
uni06CB,
"alefMaksura-ar",
uni08AD,
uni0773,
uni0774,
Yeh,
"yehHamzaabove-ar",
uni06CE,
uni08A8,
uni08A9,
uni063D,
"yehFarsi-ar",
uni063E,
uni063F,
uni0775,
uni0776,
uni0777,
uni06CD,
"yehKashmiri-ar",
"yehKashmiri-ar.isol",
"yehKashmiri-ar.fina",
"yehKashmiri-ar.fina.inD2alt",
uni06D0,
uni06D1,
"yehbarree-ar",
"yehbarree-ar.isol",
"yehbarree-ar.fina",
"yehbarree-ar.fina.2",
"yehbarree-ar.fina.3",
"yehbarree-ar.fina.4",
"yehbarree-ar.fina.5",
YehBarreeHamza,
uni077A,
uni077B,
uni08AC,
"yehRohingya-ar.isol",
"yehRohingya-ar.fina",
uni06D5,
uni075C,
uni075D,
uni075E,
uni075F,
uni0760,
uni0761,
uni0765,
uni0766,
uni0767,
uni0768,
uni0769,
uni076A,
uni076D,
uni0770,
uni0772,
uni077D,
Tatweel,
uni08B6,
uni08B7,
uni08B8,
uni08B9,
uni08BA,
"alef-ar.short",
"yehbarree-ar.fina.2_3",
"yehbarree-ar.fina.2_4",
"yehbarree-ar.fina.2_5",
Divine_nm,
Mhmd,
uniFDFA,
uniFDFB,
"number-ar.alt2",
"number-ar.alt3",
"year-ar.alt2",
"year-ar.alt3",
"year-ar.alt4",
"footnotemarker-ar.alt2",
"footnotemarker-ar.alt3",
"pagenumber-ar.alt2",
"pagenumber-ar.alt3",
"endofayah-ar.alt2",
"endofayah-ar.alt3",
"samvat-ar.alt2",
"samvat-ar.alt3",
"samvat-ar.alt4",
Divine_nm_p1,
"decimalpoint-ar",
"thousandmarker-ar",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"zeroFarsi-ar",
"oneFarsi-ar",
"twoFarsi-ar",
"threeFarsi-ar",
"fourFarsi-ar.urdu",
"fourFarsi-ar",
"fiveFarsi-ar",
"sixFarsi-ar.urdu",
"sixFarsi-ar",
SevenUrdu,
"sevenFarsi-ar",
"eightFarsi-ar",
"nineFarsi-ar",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
uni00A0,
ZWSP,
uni200C,
uni200D,
.notdef,
CR,
NULL,
uni200E,
uni200F,
ThreeDotPunct,
uniFBBC,
k_RubElHizb,
PeriodUrdu,
"comma-ar",
"semicolon-ar",
"questionmark-ar",
"number-ar",
"asterisk-ar",
"year-ar",
"footnotemarker-ar",
"pagenumber-ar",
"dateseparator-ar",
VerseSign,
Misra,
"endofayah-ar",
OrnateLeftParenthesis,
OrnateRightParenthesis,
period,
comma,
colon,
uni2026,
exclam,
periodcentered,
slash,
backslash,
uni2025,
hyphen,
endash,
emdash,
uni2010,
uni2011,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotedblleft,
quotedblright,
"quotesingleleft-ar",
"quotesingleright-ar",
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
ALM,
"samvat-ar",
uniFDFD,
k_Sajdah,
"afghani-ar",
uniFDFC,
"percent-ar",
"permille-ar",
"per10mille-ar",
bar,
plus,
"minus-ar",
"multiply-ar",
"divide-ar",
equal,
uni25CC,
"dammaturnedbelow-ar",
"rehHahabove-ar",
"rehDadabove-ar",
"sallallahouAlayheWassallamcomb-ar",
"alayheAssallamcomb-ar",
"takhallusabove-ar",
"tahabove-ar",
"tahcenter-ar",
uniFBC1,
"tahbelow-ar",
"tahbelow-ar.yb",
"dotabove-ar",
uniFBB2,
"dotabove-ar.kaf",
"dotabove_tahabove-ar",
"dotabove_vabove-ar",
"dotbelow-ar",
"dotbelowSymbol-ar",
"dotbelow-ar.yb",
"dotbelow_tahabove-ar",
"dotcenter-ar",
"dotcenter_threedotsdownbelow-ar",
"twodotsverticalabove-ar",
uniFBBD,
uniFBBE,
"twodotsverticalbelow-ar",
"twodotsverticalcenter-ar",
"twodotshorizontalabove-ar",
uniFBB4,
"twodotshorizontalabove-ar.kaf",
"twodotshorizontalabove_tahabove-ar",
"twodotshorizontalbelow-ar",
uniFBB5,
"twodotshorizontalbelow-ar.yb",
"twodotshorizontalbelow_tahabove-ar",
"twodotshorizontalcenter-ar",
"twodotshorizontalcenter_tahabove-ar",
"threedotsdownabove-ar",
uniFBB8,
"threedotsdownbelow-ar",
uniFBB9,
"threedotsdownbelow-ar.yb",
"threedotsdowncenter-ar",
"threedotsupabove-ar",
uniFBB6,
"threedotsupabove-ar.kaf",
uniFBB7,
"threedotsupbelow-ar",
"threedotsupbelow-ar.yb",
"threedotsupcenter-ar",
"threedotshorizontalbelow-ar",
"fourdotsabove-ar",
uniFBBA,
uniFBBB,
"fourdotsbelow-ar",
"fourdotsbelow-ar.yb",
"fourdotscenter-ar",
"fourabove-ar",
"fourcenter-ar",
"fourbelow-ar",
"fourbelow-ar.yb",
"threeabove-ar",
"twoabove-ar",
"ringbelow-ar",
"wasla-ar",
"wavyhamzaabove-ar",
"miniKeheh-ar",
"wavyhamzabelow-ar",
"wavyhamzabelow-ar.yb",
uniFBBF,
"alefabove-ar",
"alefbelow-ar",
"alefbelow-ar.yb",
"hamzaabove-ar",
"hamzaabove-ar.ARA",
"hamzabelow-ar",
"hamzabelow-ar.ARA",
"fathatan-ar",
"dammatan-ar",
"kasratan-ar",
"kasratan-ar.yb",
"fatha-ar",
"damma-ar",
"kasra-ar",
"kasra-ar.yb",
"shadda-ar",
"hamzaaboveSukun-ar",
"sukun-ar",
"madda-ar",
"madda-ar.short",
"madda-ar.shorter",
"noonghunnaabove-ar",
"noonghunnaabove-ar.KSH",
"dammainverted-ar",
"fathaHorizont-ar",
"vabove-ar",
"vabove-ar.kaf",
"vbelow-ar",
"vinvertedabove-ar",
"vinvertedbelow-ar",
"dammareversed-ar",
"fathatwodots-ar",
"sukunoval-ar",
"hahabove-ar",
"noonabove-ar",
"zero-ar.encl",
"zero-ar.small",
"one-ar.encl",
"one-ar.small",
"two-ar.encl",
"two-ar.small",
"three-ar.encl",
"three-ar.small",
"four-ar.encl",
"four-ar.small",
"five-ar.encl",
"five-ar.small",
"six-ar.encl",
"six-ar.small",
"seven-ar.encl",
"seven-ar.small",
"eight-ar.encl",
"eight-ar.small",
"nine-ar.encl",
"nine-ar.small",
"fourFarsi-ar.encl",
"fourFarsi-ar.small",
"fourFarsi-ar.urdu.encl",
"fourFarsi-ar.urdu.small",
"fiveFarsi-ar.encl",
"fiveFarsi-ar.small",
"sixFarsi-ar.encl",
"sixFarsi-ar.small",
"fathaCurly-ar",
"dammaCurly-ar",
"kasraCurly-ar",
"fathatanCurly-ar",
"dammatanCurly-ar",
"kasratanCurly-ar",
"toneonedotabove-ar",
"tonetwodotsabove-ar",
"toneloopabove-ar",
"toneonedotbelow-ar",
"tonetwodotsbelow-ar",
"toneloopbelow-ar",
"openfathatan-ar",
"opendammatan-ar",
"openkasratan-ar",
"wawHigh-ar",
"fathaRing-ar",
"fathaDotabove-ar",
"kasraDotbelow-ar",
"leftarrowheadabove-ar",
"rightarrowheadabove-ar",
"leftarrowheadbelow-ar",
"rightarrowheadbelow-ar",
"doublerightarrowheadabove-ar",
"doublerightarrowheadDotabove-ar",
"rightarrowheadDotabove-ar",
"dammaDot-ar",
"marksidewaysnoonghunna-ar",
ArSevenBelowYB,
"Dblbar-ar",
HamzaBelowAF_YB,
HamzaBelowYB,
zero.encl,
zero.small,
one.encl,
one.small,
two.encl,
two.small,
three.encl,
three.small,
four.encl,
four.small,
five.encl,
five.small,
six.encl,
six.small,
seven.encl,
seven.small,
eight.encl,
eight.small,
nine.encl,
nine.small,
NullMk,
OneDotEnclTNS,
OneDotSmallAbove,
OneDotSmallBelowNS,
RingDistNS,
RingDistYB,
SevenUrdu.encl,
SevenUrdu.small,
SmallTahSevenAboveNS,
Tah2DotsBelowYB,
TatweelNS,
ThreeDotsFlatBelowYB,
TwoDotsSevenAboveNS,
TwoDotsVertBelowYB,
YBc1,
YBc2,
YBc3,
_gaf.sarkash,
_gaf.sarkash.inv,
_gaf.sarkash.inv2,
_gaf.sarkash.invfat,
_gaf.sarkash.invfatsteep,
_gaf.sarkash.invshort,
_gaf.sarkash.invshort2,
_gaf.sarkash.invshorter,
_gaf.sarkash.invsteep,
_gaf.sarkash.invthin,
_gaf.sarkash.long,
_gaf.sarkash.steep,
_gaf.sarkash.steeper,
_gaf.sarkash.thin,
"bar-ar",
hehgoal_comma,
hehgoal_comma.yb,
"meemnear-ar",
sp0,
sp1,
sp10,
sp11,
sp12,
sp13,
sp14,
sp15,
sp2,
sp3,
sp4,
sp5,
sp6,
sp7,
sp8,
sp9,
"tail-ar",
"tehabove-ar",
ybMk,
ybPre,
uniFBC0,
ArEightBelowYB,
Hamza.isol,
"Smallmeem-ar",
Yehx.fina,
Yehx.fina.inD2alt,
Yehx.isol,
baseNum,
"decimalpointFarsi-ar",
_percentnukta,
_percentslash,
_smallmathnukta
)