(
.notdef,
NULL,
CR,
space,
uni00A0,
bar,
uni200C,
ZWSP,
uni200D,
uni200E,
uni200F,
OneDotAboveNS,
TwoDotsAboveNS,
ThreeDotsUpAboveNS,
OneDotBelowNS,
TwoDotsBelowNS,
ThreeDotsDownBelowNS,
ThreeDotsDownAboveNS,
OneDotEnclNS,
OneDotEnclTNS,
ThreeDotsDownEnclNS,
ThreeDotsUpEnclNS,
TwoDotsEnclNS,
TwoDotsVertEnclNS,
FourDotsEnclNS,
TwoDotsVertAboveNS,
TwoDotsVertBelowNS,
FourDotsAboveNS,
FourDotsBelowNS,
MaddaNS,
Madda.shortNS,
Madda.shorterNS,
WaslaNS,
HamzaAboveNS,
HamzaBelowNS,
HamzaAboveAF_NS,
HamzaBelowAF_NS,
AlayhissalamNS,
AlefSuperiorNS,
AlefInferiorNS,
DammaNS,
UltapeshNS,
DammatanNS,
FathaNS,
FathatanNS,
KasraNS,
KasratanNS,
NoonGhunnaMarkNS,
NoonGhunnaMarkKshmrNS,
RadiallahNS,
RahmatullahNS,
SallallahNS,
ShaddaNS,
SharetKafNS,
SharetYehPashtoNS,
SukunHahNS,
SukunJazmNS,
SukunNS,
SukunZeroNS,
TahSmallBelowNS,
TahSmallEnclNS,
Tah2DotsEnclNS,
Tah2DotsBelowNS,
Tah2DotsAboveNS,
TakhallusNS,
AlefInferiorYB,
HamzaBelowYB,
KasraYB,
KasratanYB,
OneDotBelowYB,
ThreeDotsDownBelowYB,
TwoDotsBelowYB,
HehCommaNS,
HehCommaAltNS,
HehCommaYB,
FourDotsBelowYB,
WavyHamzaBelowYB,
WavyHamzaBelowNS,
Small4UrduBelowYB,
Small4UrduAboveNS,
TwoDotsVertBelowYB,
HamzaBelowAF_YB,
Tah2DotsBelowYB,
TahSmallBelowYB,
NullMk,
OneDotAboveAltNS,
TwoDotsAboveAltNS,
ThreeDotsUpAboveAltNS,
MaddaAltNS,
Madda.shortAltNS,
Madda.shorterAltNS,
WaslaAltNS,
HamzaAboveAltNS,
HamzaAboveAF_AltNS,
AlayhissalamAltNS,
AlefSuperiorAltNS,
DammaAltNS,
UltapeshAltNS,
DammatanAltNS,
FathaAltNS,
FathatanAltNS,
NoonGhunnaMarkAltNS,
RadiallahAltNS,
RahmatullahAltNS,
SallallahAltNS,
ShaddaAltNS,
Tah2DotsAboveAltNS,
SukunHahAltNS,
SukunJazmAltNS,
WavyHamzaAboveAltNS,
SukunAltNS,
SukunZeroAltNS,
TahSmallAltNS,
TakhallusAltNS,
OneDotBelowAltNS,
TwoDotsBelowAltNS,
ThreeDotsDownBelowAltNS,
HamzaBelowAltNS,
HamzaBelowAF_AltNS,
AlefInferiorAltNS,
KasraAltNS,
KasratanAltNS,
Fatha2dotsAltNS,
Fatha2dotsNS,
FourDotsAboveAltNS,
FourDotsBelowAltNS,
WavyHamzaBelowAltNS,
TahDotAboveAltNS,
TahDotAboveNS,
ShortVwlAltNS,
ShortVwlNS,
Small2AboveAltNS,
Small2AboveNS,
Small3AboveAltNS,
Small3AboveNS,
Small4UrduAboveAltNS,
Small4UrduBelowAltNS,
TwoDotsVertAboveAltNS,
TwoDotsVertBelowAltNS,
Tah2DotsBelowAltNS,
ZwarakayAltNS,
ZwarakayNS,
ThreeDotsDownAboveAltNS,
DammaRevAltNS,
DammaRevNS,
OneDotSmallAbove,
OneDotSmallBelowNS,
ALM,
uni25CC,
Misra,
Sanah,
VerseSign,
Footnote,
Safhah,
NumberSign,
ZeroArabic,
OneArabic,
TwoArabic,
ThreeArabic,
FourArabic,
FiveArabic,
SixArabic,
SevenArabic,
EightArabic,
NineArabic,
FourFarsi,
FiveFarsi,
SixFarsi,
FourUrdu,
SixUrdu,
SevenUrdu,
PercentArabic,
PermilleArabic,
Per10milleArabic,
plus,
hyphen,
slash,
bracketleft,
backslash,
bracketright,
braceleft,
braceright,
parenleft,
parenright,
uni2010,
uni2011,
endash,
emdash,
MinusArabic,
MultiplyArabic,
DivideArabic,
equal,
DecimalPointArabic,
DecimalPointFarsi,
ThousandMarkerArabic,
comma,
period,
PeriodUrdu,
Afghani,
FehxIni.outT2N,
CommaArabic,
SemicolonArabic,
colon,
periodcentered,
QuoteSingleLeftArabic,
QuoteSingleRightArabic,
quotedblleft,
quotedblright,
guilsinglleft,
guilsinglright,
guillemotleft,
guillemotright,
ThreeDotPunct,
QuestionmarkArabic,
DateSeparatorArabic,
AsteriskArabic,
Divine_nm_p1,
Divine_nm,
AlefSep,
Mhmd,
uniFDFD,
uniFDFA,
uniFDFC,
uniFDFB,
Tatweel,
AlefFin,
BehxSep,
BehxFin,
NoonxSep,
NoonxFin,
HahSep,
DalSep,
DalFin,
RehSep,
SeenSep,
SeenFin,
SadSep,
TahSep,
AinSep,
AinFin,
FehxSep,
FehxFin,
QafxSep,
WawSep,
KafSep,
LamSep,
LamFin,
MeemSep,
YehBarreeSep,
YehBarreeFin,
YehBarreeFin_5,
YehBarreeFin_4,
YehBarreeFin_3,
BehxFin.soft,
SeenIni.r,
AlefFin.narrow,
SeenMed.SWinBoutT2,
SeenMed.SWinDoutT2,
SeenMed.SWinFFoutT2,
FehxIni.outD2,
FehxIni.outD2YB,
SeenFin.2,
SeenMed.SWinAoutT2,
LamSep.LA,
LamFin.LA,
LamIni.HRlow,
LamMed.HRlow,
LamIni.lowKN,
LamMed.lowKN,
YehxSep,
HehDoSep,
YehxFin,
HehDoIni,
HehFin,
HehSep,
AlefSep.LA,
MeemFin,
BehxIni,
BehxIni.A,
MeemIni.r,
FehxIni.outT2,
SeenMed.SWinFoutT2,
RehFin,
HahFin,
TahFin,
SadFin,
YehBarreeFin.2,
YehBarreeFin.2_5,
YehBarreeFin.2_4,
YehBarreeFin.2_3,
QafxFin,
WawFin,
SeenMed.r,
KafIni.k,
SeenMed.SWinCoutT2,
SeenMed.SWinGoutT2,
HehFin.wide,
BehxIni.outT2,
BehxIni.outT2B,
BehxIni.outT2K,
FehxIni,
TahMed.inD1outS1,
TahIni,
HehIni,
MeemIni,
BehxIni.outT2tall,
BehxIni.outT2N,
BehxIni.outT3,
BehxIni.outT3En,
FehxIni.outT3,
HamzaSep,
AinFin.2,
BehxIni.outT3F,
BehxIni.outS1,
FehxIni.outS1,
HehDoFin,
MeemIni.outD2,
MeemIni.outD2YB,
MeemIni.outD2Y,
FehxIni.outD2Y,
YehxFin.inD2alt,
BehxIni.outD2D,
BehxIni.outD2H,
BehxIni.outD2Y,
BehxIni.outD2WQ,
FehxIni.outD2WQ,
RehFin.inD4B,
BehxIni.outD2M,
BehxIni.outD2YB,
RehFin.inD3,
SadIni.r,
HehIni.r,
FehxIni.outD4,
BehxIni.outD5,
RehFin.postHeh,
RehFin.inD4,
SeenIni.SWoutT2,
FehxIni.outD5,
MeemIni.outD5,
RehFin.inD3MM,
KafIni.HRlow,
KafIni.HRk,
GafIni.HRk,
TahIni.outT2,
HehIni.outD2H,
TahIni.outT3,
TahIni.outD2,
TahIni.outD2YB,
HahIni.outD3,
TahIni.outD3,
BehxIni.outD2MM,
FehxIni.outD2MM,
MeemIni.outD2MM,
MeemMed.inD2outD2Y,
HehMed.inD5outD2H,
WawFin.cut,
WawFin.inD2,
BehxMed.inT1outS1,
BehxMed.inT2outT1,
BehxMed.inT1outT3,
BehxMed.inT2outT2,
BehxMed.inT2outT2K,
HahIni,
SeenIni,
GafMed.V,
BehxMed.inT1outT2,
BehxMed.inT1outT2N,
BehxMed.inT2outS1,
BehxMed.inT1outT2wide,
BehxMed.inT1outT2SeenWide,
BehxMed.inT1outT2Nwide,
BehxMed.inT1outT2Seen,
BehxMed.inS1outS1,
BehxMed.inT2outD2WQ,
BehxMed.inT2outD2Y,
BehxMed.inT2outD2M,
WawFin.inD2alt,
QafxFin.cut,
QafxFin.inD2alt,
QafxFin.inD2,
BehxMed.inT2outD2YB,
BehxMed,
BehxMed.inT2outT3,
SeenIni.outD1,
TahIni.outD1,
FehxIni.outD1,
BehxMed.inT2outD1,
BehxMed.inT2outD11,
BehxMed.inT2outD11wide,
SeenIni.outD2MM,
BehxMed.inT2outD2D,
BehxMed.inT2outD2MM,
BehxMed.inT2outD2H,
BehxMed.inT2outD2HF,
BehxMed.inT2outD2HS,
BehxMed.inT2outD2Hwide,
BehxMed.inT2outT1wide,
SeenMed,
BehxMed.inT2outD5,
MeemMed,
AinMed.inT3outD2MM,
LamIni.outT2,
LamIni,
LamIni.outT3,
LamIni.outD2,
LamIni.outD2YB,
LamIni.outD11,
LamMed.outD11,
KafIni.outD2,
KafIni.outD2YB,
KafMed.k,
KafMed.V,
KafMed.Vlow,
KafIni.HRoutD2,
GafSep,
GafIni.HRoutD2,
GafIni.outD2,
GafIni.outD2YB,
GafMed.Vlow,
LamIni.outT2N,
LamIni.outS1,
LamIni.outD2Y,
LamIni.outD2H,
LamIni.outD1,
LamIni.outD5,
LamIni.outD2MM,
LamIni.low,
LamMed,
LamMed.outT2,
LamMed.outT3,
LamMed.outS1,
LamMed.outD1,
LamMed.outD2WQ,
LamMed.outD2MD,
LamMed.outD2H,
LamMed.outD2HYB,
LamMed.outD5,
LamMed.outD2MM,
LamMed.low,
LamMed.outD2Y,
LamMed.outD4,
GafMed.VoutD5,
GafMed.outS1,
SadIni.outT2,
HehDoMed,
MeemIni.outS1,
FehxMed,
TahIni.low,
GafMed.outT2,
SeenIni.outT2,
GafMed.outD11,
HehDoIni.outT2,
GafMed.outD2MM,
HehIni.outT2,
GafMed.outD2Y,
GafMed.outD4,
GafIni.HRlow,
GafMed.HRoutT3,
GafMed.HRoutD2MD,
GafMed.HRoutD2HYB,
MeemIni.outT2,
GafMed.HRoutD5,
MeemIni.outT3,
GafMed.VoutT2,
GafFin.HR,
GafMed.VoutD2HYB,
GafMed.HRk,
GafMed.VoutD2WQ,
SadIni,
GafMed.VoutD1,
HehDoMed.inD2outD3,
HehDoIni.outD3,
GafIni.HRoutT3,
TahMed.inD1outD5,
TahIni.outD5,
SadIni.outT3,
HehDoIni.outT2wide,
HehDoIni.outD2,
HehDoIni.outD2YB,
HahIni.outT2,
HehDoMed.inD2outS1,
HehDoIni.outS1,
FehxMed.inT3outD2,
SeenMed.inT2outD2M,
GafIni.outD5,
GafMed.low,
GafMed.HRlow,
HahIni.outT3,
GafMed.outD1,
GafMed.outD2WQ,
GafIni.HRoutD1,
GafMed.HRoutT2,
SeenIni.outT3,
GafMed.VoutT3,
GafMed.VoutD2MD,
GafMed.VoutD2Y,
HehIni.outT3,
HehIni.outT3En,
GafFin,
GafFin.V,
GafIni.HRoutT2N,
HehDoIni.outT3,
SeenIni.outS1,
SadIni.outS1,
HahIni.outS1,
HehIni.outS1,
AinIni.outS1,
TahIni.outD2H,
TahIni.outD2M,
HahIni.outD2,
HahIni.outD2YB,
HahIni.outD2D,
HahIni.outD2H,
HahIni.outD2Y,
HehDoIni.outD2Y,
SadIni.outD2YB,
HehIni.outD2YB,
SeenIni.outD2YB,
HehDoMed.inD2outT3,
HehDoMed.inD2outD2,
HehDoMed.inD2outD2YB,
HehDoMed.inD2outD2Y,
HehDoMed.inD2outT2,
MeemIni.outT2B,
HehDoMed.inD2outD1,
HehDoIni.outD1,
BehxIni.outD1,
HahIni.outD1,
SadIni.outD1,
AinIni.outD1,
MeemIni.outD1,
HehIni.outD1,
BehxIni.outD11,
HahIni.outD11,
SeenIni.outD11,
SadIni.outD11,
AinIni.outD11,
MeemIni.outD11,
HehIni.outD11,
HehDoIni.outD11,
FehxMed.inT3outS1,
AinMed.inT3outS1,
FehxMed.inT3outT3,
AinMed,
FehxMed.inT3outT2,
AinMed.inT3outT2,
AinMed.inT3outT3,
AinMed.inT3outD3,
FehxMed.inT3outD3,
AinMed.inT3outD1,
FehxMed.inT3outD1,
FehxMed.inT3outD11,
AinMed.inT3outD11,
AinMed.inT3outD2Y,
FehxMed.inT3outD2Y,
AinMed.inT3outD2,
FehxMed.inT3outD2YB,
AinMed.inT3outD2YB,
AinIni.outT3WQ,
AinIni,
AinIni.outT2,
AinIni.outT3,
AinIni.tall,
AinIni.outD2,
AinIni.outD2YB,
AinIni.outD2long,
AinIni.outD3,
SeenIni.outD2M,
SadMed.r,
SeenIni.outD2H,
HehIniAF.outD2YB,
SeenIni.outD2D,
SeenIni.outD2Y,
SadIni.outD2H,
SadIni.outD2M,
HahMed.inD2outT2,
SadIni.outD2MM,
SadIni.outD2D,
HahMed,
SadIni.outD2Y,
SeenMed.inT2outT2,
HahMed.inD2outT3,
SeenMed.inT2outT3,
HahMed.inD2outD11,
SeenMed.inT2outS1,
HahMed.inD2outD2,
SeenMed.inT2outD1,
HahMed.inD2outD2Y,
SeenMed.inT2outD11,
HehIniAF.outD2MM,
SeenMed.inT2outD2H,
SadMed.inD1outD5,
SadIni.outD5,
SeenMed.inT2outD2MM,
HehMed.inD5outD1,
SeenMed.inT2outD2D,
SeenMed.inT2outD2Y,
SeenMed.inT2outD2YB,
AinMed.inT3outD5,
SadMed,
SadMed.inD1outT2,
SadMed.inD1outT3,
SadMed.inD1outS1,
SadMed.inD1outD1,
SadMed.inD1outD11,
SadMed.inD1outD2H,
SadMed.inD1outD2M,
SadMed.inD1outD2MM,
SadMed.inD1outD2D,
SadMed.inD1outD2Y,
SadMed.inD1outD2YB,
TahMed,
TahMed.inD1outT2,
TahMed.inD1outT3,
TahMed.inD1outD1,
TahMed.inD1outD11,
TahIni.outD11,
TahMed.inD1outD2,
TahMed.inD1outD2YB,
TahMed.inD1outD2H,
TahMed.inD1outD2M,
HahMed.inD2outD3,
TahMed.inD1outD3,
MeemMed.inD2outD2H,
HehIni.outD2M,
HehMed,
HahIni.outD5,
HehDoIni.outD5,
HehIniAF.outT3,
HahIni.outD2MM,
AinIni.outD2MM,
HehDoIni.outD2MM,
HehIni.outD2MM,
HehDoMed.inD2outD2MM,
FehxMed.inT3outD2MM,
HahMed.inD2outS1,
HahMed.inD2outD1,
HehDoMed.inD2outT2wide,
SeenMed.inT2outD5,
SeenMed.inT2outT2short,
SeenIni.outD5,
KafMed.HRlow,
HehMed.inD5outD11,
HehMed.inD5outD3R,
HehMed.inD5outT2,
HehMed.inD5outT3,
HehMed.inD5outS1,
HehMed.inD5outD2,
HehMed.inD5outD2Y,
HehMed.inD5outD2YB,
HehIni.outD5,
HehIni.outD2Y,
HahMed.inD2outD5,
AinIni.outD5,
FehxMed.inT3outD5,
HehDoMed.inD2outD5,
HehIniAF.outD5,
HehIniAF.outS1,
HehIniAF,
HehIniAF.outT2,
HehIniAF.outD3,
HehIniAF.outD1,
HehIniAF.outD11,
HehIniAF.outD2Y,
HehIniAF.outD2,
HehMed.inD5outD2MM,
HahIni.outT3short,
TahIni.outD2MM,
TahMed.inD1outD2MM,
HahMed.inD2outD2MM,
HehDoMed.inD2outD11,
MeemMed.inD2outT2,
MeemMed.inD2outT3,
MeemMed.inD2outS1,
MeemMed.inD2outD1,
MeemMed.inD2outD11,
MeemMed.inD2outD2MM,
MeemMed.inD2outD2,
MeemMed.inD2outD5,
MeemMed.inD2outD2YB,
MeemMed.inD2outD3,
TahIni.HRlow,
KafFin.HR,
KafMed.HR,
KafIni.HRoutD1,
KafIni.HRoutD5,
KafMed.HRoutT3,
KafMed.outD2Y,
KafMed.outD2MD,
BehxIni.outD4,
KafMed.outD4,
SeenIni.outT2short,
KafFin,
KafFin.V,
KafIni,
KafIni.outD2H,
KafIni.outT2,
KafIni.outT2N,
KafIni.outT3,
KafIni.outS1,
KafIni.outD2Y,
KafMed,
KafMed.outT2,
KafMed.outT3,
KafMed.outS1,
KafMed.outD1,
KafMed.outD11,
KafMed.outD2WQ,
KafIni.outD1,
KafIni.outD11,
KafMed.HRoutD1,
KafMed.HRoutD2MD,
KafMed.VoutD2HYB,
KafMed.outD2H,
KafMed.outD2HYB,
KafMed.outD5,
KafIni.outD2MM,
KafMed.outD2MM,
KafMed.low,
KafMed.HRoutT2,
KafMed.VoutD2MD,
KafIni.outD5,
KafMed.HRoutD2MM,
KafMed.HRoutD2HYB,
KafMed.HRoutD2WQ,
KafMed.HRoutD5,
KafMed.VoutT2,
KafMed.VoutT3,
KafMed.VoutS1,
KafMed.VoutD1,
KafMed.VoutD11,
KafMed.VoutD2MM,
KafMed.VoutD2Y,
KafMed.VoutD2WQ,
KafMed.VoutD4,
KafMed.VoutD5,
KafIni.HRoutD2H,
TahMed.low,
TahMed.HRlow,
KafMed.HRk,
KafIni.HRoutT2N,
KafIni.HRoutT3,
KafIni.HRoutT2,
GafIni.k,
GafMed.k,
GafIni,
GafIni.outT2,
GafIni.outT2N,
GafIni.outT3,
GafIni.outS1,
GafIni.outD1,
GafIni.outD11,
GafIni.outD2MM,
GafIni.outD2H,
GafIni.outD2Y,
GafMed,
GafMed.HR,
GafMed.outT3,
GafMed.outD2MD,
GafMed.outD2H,
GafMed.outD2HYB,
GafMed.outD5,
GafIni.HRoutD5,
GafMed.HRoutD1,
GafMed.HRoutD2MM,
GafMed.HRoutD2WQ,
GafMed.VoutS1,
GafMed.VoutD11,
GafMed.VoutD2MM,
GafMed.VoutD4,
GafIni.HRoutD2H,
GafIni.HRoutT2,
HehMed.inD5outD5,
AinIni.outD2D,
FehxIni.outD2D,
GafIni.outD2D,
HehDoIni.outD2D,
HehIniAF.outD2D,
KafIni.outD2D,
LamIni.outD2D,
MeemIni.outD2D,
TahIni.outD2D,
AinIni.outD2H,
FehxIni.outD2H,
HehDoIni.outD2H,
HehIniAF.outD2H,
MeemIni.outD2H,
HehIni.outD2D,
BehxMed.inT1,
BehxMed.inT2,
SeenMed.inT2,
AinMed.inT3,
FehxMed.inT3,
SadMed.inD1,
TahMed.inD1,
HahMed.inD2,
HehDoMed.inD2,
MeemMed.inD2,
HehMed.inD5,
AinMed.inT3outT1,
FehxMed.inT3outT1,
SadMed.inD1outT1,
TahMed.inD1outT1,
HahMed.inD2outT1,
MeemMed.inD2outT1,
HehMed.inD5outT1,
HehDoMed.inD2outT1,
SeenMed.inT2outT1,
AinMed.inT3outD2D,
FehxMed.inT3outD2D,
HahMed.inD2outD2D,
HehDoMed.inD2outD2D,
HehMed.inD5outD2D,
MeemMed.inD2outD2D,
TahMed.inD1outD2D,
AinMed.inT3outD2H,
FehxMed.inT3outD2H,
HahMed.inD2outD2H,
HahMed.inD2outD2YB,
HehDoMed.inD2outD2H,
BehxMed.inT1outT1,
BehxMed.inT1outD2WQ,
BehxMed.inT1outD1,
YehKashmiriFin,
YehKashmiriFin.inD2alt,
YehKashmiriSep,
YehKashmiri,
BehxMed.inT1outD11,
TatweelNS,
Hamza,
AlefMadda,
AlefHamzaAbove,
WawHamza,
AlefHamzaBelow,
YehHamza,
Alef,
Beh,
TehMarbuta,
Teh,
Theh,
Jeem,
Hah,
Xah,
Dal,
Dhal,
Reh,
Zain,
Seen,
Sheen,
Sad,
Dad,
Tah,
Zah,
Ain,
Ghain,
Feh,
Qaf,
Kaf,
Lam,
Meem,
Noon,
Heh,
Waw,
AlefMaqsura,
Yeh,
Behx,
Qafx,
AlefWasla,
AlefWavyHamzaAbove,
AlefWavyHamzaBelow,
TehTahAbove,
Peh,
Tcheh,
DalTahAbove,
RehTahAbove,
Zheh,
Fehx,
Veh,
KafFarsi,
Gaf,
NoonGhunna,
HehDoachasmee,
HehHamza,
HehUrdu,
HehHamzaUrdu,
TehMarbutaUrdu,
uni06C6,
uni06C7,
uni06CA,
YehFarsi,
YehBarree,
YehBarreeHamza,
uni063B,
TwoDotsAboveKNS,
uni063C,
uni063D,
uni063E,
uni063F,
uni067A,
uni067B,
uni067C,
RingNS,
uni067D,
uni0680,
uni067F,
uni0681,
uni0683,
uni0684,
uni0685,
uni0687,
uni0689,
uni068A,
uni068B,
uni068C,
uni068D,
uni068E,
uni068F,
uni0693,
uni0696,
uni0699,
uni069A,
uni069E,
uni06A6,
uni06AB,
uni06B0,
uni06B1,
uni06B3,
uni06B7,
uni06BB,
uni06BC,
uni06C4,
uni06CD,
uni06D0,
uni06D5,
AyahEnd,
uni06EE,
uni06EF,
uni06FF,
uni0759,
uni075C,
uni0763,
ThreeDotsAboveKNS,
uni0767,
uni0768,
uni0769,
uni076B,
uni076C,
uni076D,
uni076E,
uni076F,
uni0770,
uni0771,
uni0772,
uni0773,
uni0774,
uni0775,
uni0776,
uni0777,
uni0778,
uni0779,
uni077A,
uni077B,
uni077C,
uni077D,
uni076A,
ybMk,
sp0,
sp1,
sp2,
sp3,
sp4,
sp5,
sp6,
sp7,
sp8,
sp9,
sp10,
sp11,
sp12,
sp13,
sp14,
sp15,
YBc1,
YBc2,
YBc3,
ybPre,
baseNum,
NumberSign.alt2,
NumberSign.alt3,
Sanah.alt2,
Sanah.alt3,
Sanah.alt4,
Footnote.alt2,
Footnote.alt3,
Safhah.alt2,
Safhah.alt3,
Samvat,
Samvat.alt2,
Samvat.alt3,
Samvat.alt4,
AyahEnd.alt2,
AyahEnd.alt3,
ZeroArabic.small,
OneArabic.small,
TwoArabic.small,
ThreeArabic.small,
FourArabic.small,
FiveArabic.small,
SixArabic.small,
SevenArabic.small,
EightArabic.small,
NineArabic.small,
FourFarsi.small,
FiveFarsi.small,
SixFarsi.small,
FourUrdu.small,
SevenUrdu.small,
ZeroArabic.encl,
OneArabic.encl,
TwoArabic.encl,
ThreeArabic.encl,
FourArabic.encl,
FiveArabic.encl,
SixArabic.encl,
SevenArabic.encl,
EightArabic.encl,
NineArabic.encl,
FourFarsi.encl,
FiveFarsi.encl,
SixFarsi.encl,
FourUrdu.encl,
SevenUrdu.encl,
ZeroFarsi,
OneFarsi,
TwoFarsi,
ThreeFarsi,
SevenFarsi,
EightFarsi,
NineFarsi,
uniFBB2,
uniFBB4,
uniFBBD,
uniFBB6,
uniFBB7,
uniFBBA,
OneDotBelow,
uniFBB5,
uniFBBE,
uniFBB9,
uniFBB8,
uniFBBB,
uniFBBC,
uniFBC0,
uniFBC1,
WavyHamzaAboveNS,
Small4UrduEnclNS,
Small4UrduBelowNS,
uniFBBF,
OrnateLeftParenthesis,
OrnateRightParenthesis,
k_RubElHizb,
k_Sajdah,
KafIni.N,
KafIni.NoutT2,
KafIni.NoutT3,
KafIni.NoutD1,
KafIni.NoutD11,
KafIni.NoutD2,
KafIni.NoutD2H,
KafIni.NoutD2MM,
KafMed.NoutT2,
KafMed.NoutT3,
KafMed.NoutD1,
KafMed.NoutD11,
KafMed.NoutD2MD,
KafMed.NoutD2HYB,
KafMed.NoutD2MM,
GafIni.N,
GafIni.NoutT2,
GafIni.NoutT3,
GafIni.NoutD1,
GafIni.NoutD11,
GafIni.NoutD2,
GafIni.NoutD2H,
GafIni.NoutD2MM,
GafMed.NoutT2,
GafMed.NoutT3,
GafMed.NoutD1,
GafMed.NoutD11,
GafMed.NoutD2MD,
GafMed.NoutD2HYB,
GafMed.NoutD2MM,
HahIni.outD2Hwide,
HahMed.inD2outD2Hwide,
exclam,
HehDoIni.outD2Hwide,
HehDoMed.inD2outD2Hwide,
HehIniAF.outD2Hwide,
FehxIni.outD2Hwide,
FehxMed.inT3outD2Hwide,
AinIni.outD2Hwide,
AinMed.inT3outD2Hwide,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.encl,
one.encl,
two.encl,
three.encl,
four.encl,
five.encl,
six.encl,
seven.encl,
eight.encl,
nine.encl,
zero.small,
one.small,
two.small,
three.small,
four.small,
five.small,
six.small,
seven.small,
eight.small,
nine.small,
uni08BE,
uni0750,
uni0751,
uni0752,
uni0753,
uni0754,
uni0755,
uni0756,
uni08A0,
uni08C0,
uni08A1,
uni08C5,
uni08C6,
uni08C1,
uni0757,
uni0758,
uni08A2,
uni075A,
uni08AE,
uni08B2,
uni08B3,
uni08B4,
uni075B,
uni08AA,
uni08AF,
uni08A3,
uni08C3,
uni08A4,
uni08BB,
uni08A5,
uni08BC,
uni08C4,
uni0762,
uni08C2,
uni08B0,
uni08A6,
uni08C7,
uni08A7,
uni08BD,
uni08BF,
uni08AB,
uni08B1,
uni08AD,
uni06CE,
uni08A8,
uni08A9,
uni08AC,
uni075D,
uni075E,
uni075F,
uni0760,
uni0761,
uni08B6,
uni08B7,
uni08B8,
uni08B9,
uni08BA,
uni2026,
uni2025,
uni08E3_NS,
uni08E3_AltNS,
ArSevenAboveNS,
ArEightAboveNS,
uni08E4_NS,
uni08E4_AltNS,
uni08E5_NS,
uni08E5_AltNS,
uni08E6_NS,
uni08E6_AltNS,
uni08E7_NS,
uni08E7_AltNS,
uni08E8_NS,
uni08E8_AltNS,
uni08E9_NS,
uni08E9_AltNS,
uni08EA_NS,
uni08EA_AltNS,
uni08EB_NS,
uni08EB_AltNS,
uni08EC_NS,
uni08EC_AltNS,
uni08ED_NS,
uni08ED_AltNS,
uni08EE_NS,
uni08EE_AltNS,
uni08EF_NS,
uni08EF_AltNS,
uni08F0_NS,
uni08F0_AltNS,
uni08F1_NS,
uni08F1_AltNS,
uni08F2_NS,
uni08F2_AltNS,
uni08F3_NS,
uni08F3_AltNS,
uni08F4_NS,
uni08F4_AltNS,
uni08F5_NS,
uni08F5_AltNS,
uni08F6_NS,
uni08F6_AltNS,
uni08F7_NS,
uni08F7_AltNS,
uni08F8_NS,
uni08F8_AltNS,
uni08F9_NS,
uni08F9_AltNS,
uni08FA_NS,
uni08FA_AltNS,
uni08FB_NS,
uni08FB_AltNS,
uni08FC_NS,
uni08FC_AltNS,
uni08FD_NS,
uni08FD_AltNS,
uni08FE_NS,
uni08FE_AltNS,
ArSevenAboveAltNS,
ArEightBelowNS,
YehRohingyaFin,
YehRohingyaSep,
ArEightAboveAltNS,
ArSevenBelowNS,
ArSevenKNS,
CrossbarNS,
DblCrossbarNS,
FourDotsRhombusEnclNS,
OneDotAboveKNS,
OneDotSevenAboveAltNS,
OneDotSevenAboveNS,
SmallMeemAboveNS,
SmallNoonAboveNS,
SmallTahSevenAboveNS,
SmallTehAboveNS,
TahSmallAboveNS,
ThreeDotsFlatBelowNS,
ThreeDotsUpBelowNS,
TwoDotsSevenAboveNS,
GafInvIni.HRk,
GafInvMed.V,
GafInvSep,
GafInvIni.HRoutD2,
GafInvIni.outD2,
GafInvIni.outD2YB,
GafInvMed.Vlow,
GafInvMed.VoutD5,
GafInvMed.outS1,
GafInvMed.outT2,
GafInvMed.outD11,
GafInvMed.outD2MM,
GafInvMed.outD2Y,
GafInvMed.outD4,
GafInvIni.HRlow,
GafInvMed.HRoutT3,
GafInvMed.HRoutD2MD,
GafInvMed.HRoutD2HYB,
GafInvMed.HRoutD5,
GafInvMed.VoutT2,
GafInvFin.HR,
GafInvMed.VoutD2HYB,
GafInvMed.HRk,
GafInvMed.VoutD2WQ,
GafInvMed.VoutD1,
GafInvIni.HRoutT3,
GafInvIni.outD5,
GafInvMed.low,
GafInvMed.HRlow,
GafInvMed.outD1,
GafInvMed.outD2WQ,
GafInvIni.HRoutD1,
GafInvMed.HRoutT2,
GafInvMed.VoutT3,
GafInvMed.VoutD2MD,
GafInvMed.VoutD2Y,
GafInvFin,
GafInvFin.V,
GafInvIni.HRoutT2N,
GafInvIni.k,
GafInvMed.k,
GafInvIni,
GafInvIni.outT2,
GafInvIni.outT2N,
GafInvIni.outT3,
GafInvIni.outS1,
GafInvIni.outD1,
GafInvIni.outD11,
GafInvIni.outD2MM,
GafInvIni.outD2H,
GafInvIni.outD2Y,
GafInvMed,
GafInvMed.HR,
GafInvMed.outT3,
GafInvMed.outD2MD,
GafInvMed.outD2H,
GafInvMed.outD2HYB,
GafInvMed.outD5,
GafInvIni.HRoutD5,
GafInvMed.HRoutD1,
GafInvMed.HRoutD2MM,
GafInvMed.HRoutD2WQ,
GafInvMed.VoutS1,
GafInvMed.VoutD11,
GafInvMed.VoutD2MM,
GafInvMed.VoutD4,
GafInvIni.HRoutD2H,
GafInvIni.HRoutT2,
GafInvIni.outD2D,
GafInvIni.N,
GafInvIni.NoutT2,
GafInvIni.NoutT3,
GafInvIni.NoutD1,
GafInvIni.NoutD11,
GafInvIni.NoutD2,
GafInvIni.NoutD2H,
GafInvIni.NoutD2MM,
GafInvMed.NoutT2,
GafInvMed.NoutT3,
GafInvMed.NoutD1,
GafInvMed.NoutD11,
GafInvMed.NoutD2MD,
GafInvMed.NoutD2HYB,
GafInvMed.NoutD2MM,
RehLoopSep,
RehLoopFin,
RehLoopFin.inD4B,
RehLoopFin.inD3,
RehLoopFin.postHeh,
RehLoopFin.inD4,
RehLoopFin.inD3MM,
WawStraightSep,
WawStraightFin,
WawStraightFin.cut,
WawStraightFin.inD2,
WawStraightFin.inD2alt,
RingDistNS,
RingDistYB,
ArSevenBelowYB,
ThreeDotsFlatBelowYB,
ThreeDotsUpBelowYB,
ArSevenBelowAltNS,
SmallMeemAboveAltNS,
SmallNoonAboveAltNS,
SmallTehAboveAltNS,
ThreeDotsFlatBelowAltNS,
ThreeDotsUpBelowAltNS,
RingDistAltNS,
BehxMed.inT2outT3W,
ArEightBelowAltNS,
ArEightBelowYB,
SmallTahSevenAboveAltNS,
TwoDotsSevenAboveAltNS,
TahSmallBelowAltNS,
"alef-ar.short",
uni06BF,
uni0682,
uni0690,
uni0692,
uni0694,
uni0695,
uni0697,
uni069B,
uni069C,
uni069D,
uni069F,
uni06A0,
uni06A3,
uni06A5,
uni06A7,
uni06A8,
uni0764,
uni06B4,
uni06AC,
uni06AE,
uni06B2,
uni06AD,
uni06B5,
uni06B6,
uni06B8,
uni06B9,
uni06BD,
uni06CF,
uni06C5,
uni06C8,
uni06C9,
uni06CB,
uni06D1,
uni0765,
uni0766,
TahDotEnclNS,
SmallMeem,
KavMed.low,
TahMed.outD11,
_Gaf.sarkash,
_gaf.sarkash6,
_gaf.sarkash.invfat,
_gaf.sarkash.long,
_gaf.sarkash.short,
_gaf.sarkash.short2,
_gaf.sarkash.shorter,
_gaf.sarkash.steep,
_gaf.sarkash.steeper,
_gaf.sarkash.thin,
_percentnukta,
_percentslash,
_smallmathnukta,
_kaf.sarkash6,
_gaf.sarkash.inv2,
_gaf.sarkash.invfatsteep
)