{
displayStrings = (
"/hah-ar.isol",
"ۋ",
"",
"/kaf-ar.isol/_gaf.sarkash/kaf-ar.fina",
"/kaf-ar.fina.V/_gaf.sarkash.steep/kaf-ar.medi",
"/kaf-ar.medi.HRk/_gaf.sarkash.thin",
"/kaf-ar.medi.VoutD5",
"/kaf-ar.init.k/_gaf.sarkash.steeper",
"/kaf-ar.medi.outD2HYB",
"/_gaf.sarkash.invshort/kaf-ar.init.N",
"/_gaf.sarkash.invsteep",
"/_gaf.sarkash.thin/_gaf.sarkash.invthin",
"/kaf-ar.medi.V",
"/_gaf.sarkash.steep",
"/behDotless-ar.init/behDotless-ar.init.outT2   ",
"/behDotless-ar.medi.inT1outS1/meem-ar.medi.inD2outD11",
"/behDotless-ar.medi.inT1outS1",
"/hehgoal-ar.init.outD1"
);
}
