{
displayStrings = (
"/reh-ar.fina.short",
"/behDotless-ar.init.feh",
"/reh-ar.fina.long/dal-ar.fina/seen-ar.medi.beh ﺮ",
"/meem-ar.init.beh/meem-ar.init.reh/reh-ar.fina.long/alef-ar.isol/waw-ar.isol/reh-ar.isol  ",
"/kaf-ar.medi.meem",
"/kaf-ar.medi.heh/meem-ar.medi",
"/kaf-ar.medi.heh/meem-ar.medi/behDotless-ar.init.waw"
);
}
